.header {
  padding: 18px 0px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__button {
  background-color: transparent;
  border: 1px solid #232020;
}
.header__button:focus {
  border: 1px solid #ffc700;
}
.header__button:disabled {
  color: #e0e0e0;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
}
